.gridPicture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    max-width: 79%;
    margin-left: 10%;
    margin-bottom: 10%;
}



.PlusDivGrid {
    background-color: rgb(255, 255, 255);
    margin-left: 5%;
    border-radius: 16px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.11);
    width: 90%;
    height: 99%;
    transition: all 1s;
    margin-bottom: 10px;
}

.textPlus {
    width: 97%;
}

.PlusDivGrid:hover {
    width: 106%;
    height: 100%;
    z-index: 100;
    margin-left: -10px;
}


@media screen and (max-width: 600px) {
    .gridPicture {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }

    .PlusDivGrid {}
}