.topnav1 {
  background-color: rgb(222, 246, 251);
  border-radius: 18px;
  min-width: 80vw;
  max-width: 80vw;
  margin-left: 9%;
  display: flex;
  padding: 1%;
  max-height: 7vh;
  min-height: 7vh;
  position: fixed;
  margin-bottom: 10%;
  z-index: 100000000;
}

.NavGrid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 80vw;
  max-width: 80vw;
  max-height: 7vh;
  min-height: 7vh;
}

.topnavall {
  padding-top: 2%;
  margin-bottom: 10%;
}

.rightnav {
  text-decoration: none;
  color: black;
  margin-left: 5%;
}

.rightnav:hover {
  color: rgb(108, 175, 172);
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2vw;
  margin-left: 3vw;
  height: 14vh;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: aliceblue;
  border-radius: 12px;
  margin-top: 5vw;
  padding-bottom: 3%;
}

.dropbtn {
  background: none;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  top: 10%;
}

.dropdown-content:hover {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  top: 10%;
}

.dropdown-content > a {
  margin-top: 10%;
}

@media screen and (max-width: 1300px) {
  .topnav1 {
    font-size: 14.5px;
  }
}

@media screen and (max-width: 1100px) {
  .topnav1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .topnav1 {
    font-size: 11px;
  }
}

@media screen and (max-width: 750px) {
  .topnav1 {
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  .logot {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .hide_a {
    display: none;
  }
  .topnav1 {
    width: 20vw;
  }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
}

@media screen and (min-width: 300px) and (max-width: 350px) {
}
