.BtnCloseModal {
    background-color: rgb(189, 0, 0);
    border-radius: 19px;
    margin-top: 10%;
    width: 20%;
    height: 30px;
    font-size: 15px;
    border: none;
    color: white;
}

.h4titlemodal {
    color: black;
}

.h2h2 {
    color: black;
}

.BtnOpenModalCAB {
    background-color: #b6c850;
    border-radius: 6px;
    margin-top: 10%;
    font-size: 15px;
    width: 80%;
    height: 40px;
    color: white;
    border: none;
}

.BtnOpenModalCAB:hover {
    background-color: rgb(4, 162, 144);
}

.ModalIosCont {
    display: grid;
    grid-template-columns: repeat(1);
}

.ModalDownAll {
    display: flex;
    justify-content: center;
}

.ButtonDownload {
    background-color: rgb(1, 163, 136);
    border-radius: 8px;
    text-decoration: none;
    color: azure;
    padding: 2%;
    max-width: 80%;
    margin: 5%;
    margin-left: 8%;

}

.ButtonDownload:hover {
    background-color: rgb(6, 112, 94);
}

@media screen and (max-width: 900px) {
    .BtnOpenModalCAB {
        border-radius: 6px;
        margin-top: 10%;
        font-size: 15px;
        width: 60%;
        height: 40px;
    }
}

@media screen and (max-width: 400px) {
    .BtnOpenModalCAB {
        border-radius: 6px;
        margin-top: 10%;
        font-size: 15px;
        width: 70%;
        height: 60px;
    }
}